<!-- grid with story about my -->

<div class="grid">
  <div class="row">
    <div class="col-sm-1 col-sm-offset-2">

      <%= image_tag("face.png", size:"85x100", class:"center-block")%><!-- miejsce na zdjecie -->

    </div>

    <div class="col-sm-3">
      <p class="font_about_short_story">
        <strong> Short story. </strong>
        I graduated from Wroclaw University of Technology. Until now I work as a Project
        Manager, but my future binds with programming web applications. I live in the picturesque
        town of Nowa Ruda together with my family. I like all kinds of summer sports, but usually
        you can meet me on the basketball court or in the gym. Resting like to relax by watching
        comedies or series of fantasy.
      </p>
    </div>

    <div class="col-sm-3">
      <p class="font_about_long_story">
        <strong> Long Story. </strong>
        I was born in Nowa Ruda, but most of my childhood I spent in the countryside with my grandparents.
        When I was seven my brother joined. Most of my childhood I spent with friends from the neighborhood
        or playing basketball for the night. I have always been interested in sport (athletics and basketball)
        and informatics. I knew that one of them will become my passion, and the second will be my hobby.
        The choice of the road came after high school, when I went to Wroclaw University of Technology.
        I graduated from the faculty Automation and Robotics, a specialty Computer systems of production
        processes management. I am currently working as a project manager, coordinating projects
        in the field of IT infrastructure. However, I very eager catching up in the field of programming.
        For months I have been collecting information on how it is to work as a programmer and I am very
        positively intrigued. I started programming in Ruby and Ruby on Rails. I hope to meet on my
        way of professional creative people who will help me a lot to learn from ourselves. I believe that
        nothing is impossible, there are only more or less complicated things.
      </p>
    </div>
</div>
</div>


<!-- grid with information about myself -->
<div class="grid">
  <div class="row">
    <div class="col-sm-2 col-sm-offset-3">
      <dl>
      <dt>EXPERIENCE</dt>
      <dd class="font_grid_about_2"> Developer</dd>
       <dd class="font_grid_about_2">Project Manager</dd>
       <dd class="font_grid_about_3"> ZPAS S.A.</dd>
       <dd class="font_grid_about_2"> Network Engineer </dd>
      <dd class="font_grid_about_3">KX Network Solutions </dd>
       <dd class="font_grid_about_2">  Test Engineer </dd>
      <dd class="font_grid_about_3">KX Network Engineer </dd>
      </dl>
    </div>
    <div class="col-sm-2 ">
      <dl>
         <dt>EDUCATION</dt>
         <dd class="font_grid_about_2">Project Managment</dd>
         <dd class="font_grid_about_3">Wroclaw University of Economics</dd>
         <dd class="font_grid_about_2">Automation and Robotics</dd>
         <dd class="font_grid_about_3">Wroclaw University of Technology</dd>
      </dl>

    </div>

    <div class="col-sm-2 ">

      <dl>
        <dt>CAPABILITIES</dt>
         <dd class="font_grid_about_2">Development</dd>
        <dd class="font_grid_about_3">Ruby, Ruby on Rails, C++</dd>
        <dd class="font_grid_about_3">HTML, CSS, Bootstrap</dd>
         <dd class="font_grid_about_3">GIT, Heroku</dd>
         <dd class="font_grid_about_3">Wordpress</dd>
        <dd></dd>
         <dd class="font_grid_about_2">Project Mangment</dd>
         <dd class="font_grid_about_3">Prince2 Foundation cert., Agile</dd>
        <dd class="font_grid_about_3">Ms Project</dd>
        <dd></dd>
        <dd class="font_grid_about_2">Networks</dd>
        <dd class="font_grid_about_3">CCNA, CCNP(BCMSN 642-812)</dd>
        </dl>
    </div>

  </div>
</div>
