<!-- data from table Post -->

  <% @posts.each do |post|%>
    <div class="blog">
      <%= image_tag post.image, :size=>"440x330", :class=>"center-block" %>
      <div class="font_blog">
        <%= post.description %> <br>
        <%= post.created_at.strftime("%B %Y") %>
      </div>
    </div>
  <%end%>
