<!-- data from table Work -->
<div class="grid">
    <% for i in 1..(@work_images.size/2) do %>
      <div class="row">
        <div class="col-sm-2"> </div>
        <!-- two examples of sites in one row -->
            <% @work_images.each_with_index do |work_images2,inx2 | %>
                       <% if inx2 >= @inx_sym %>
                        <div class="col-sm-4">
                          <div class="image_link"> <%= link_to image_tag(work_images2.image, size: "400x300", :class => "center-block"), work_images2.link, :target => "_blank"%> </div>
                          <div class="font_grid_portfolio"> <%= work_images2.description %> </div>
                        </div>
                            <%if inx2 % 2 !=0 %>
                                <% @inx_sym=inx2+1%>
                                <% break %>
                            <%end%>
                        <%end%>
            <%end%>
      </div>
      <div class="row">
        <br><br>
      </div>
  <%end%>
</div>