<div class="welcome_bg_image">
<p class="bg_image_item1"> Today is a good day <br> to have a good day  </p>
<p class="bg_image_item2"> MY NAME IS KRYSTIAN GUZARA. I'M A DEVELOPER. </p>
<div class="bg_image_item3"><%= link_to "View my project", 'portfolio' %> </div>
</div>

